.shared-btn {
  padding: 0.75rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.shared-btn.auth {
  background-color: #2563eb;
  color: white;
}

.shared-btn.auth:hover {
  background-color: #1d4ed8;
}

.shared-btn.submit {
  background: #36a2eb;
  color: #fff;
}

.shared-btn.submit:hover {
  background: #258cd1;
}
